* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header {
    background-color: #0E1422;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 27px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

header img {
    height: 40px;
    margin-right: 60px;
}

.left-side {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    gap: 65px;
}

nav a {
    color: #E4E4E5;
    text-decoration: none;
}

header button {
    padding: 8px 20px;
    border-radius: 8px;
    color: #0D1523;
    background-color: #c2c4c6;
    font-weight: 800;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

header button:hover {
    background-color: white;
}

.background {
    background: url(media/humankindback.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.background img {
    height: 350px;
}

.background button {

    margin-top: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 20px 45px;
    border-radius: 8px;
}

hr {
    border: 5px solid white;
}

.section-two {
    background-color: #0D1422;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-two img {
    height: 120px;
}

.moon-land {
    position: relative;
}

.moon-land>p {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 75px;
}

.video-group {
    display: flex;
    gap: 2%;
}

.first-video {
    width: 230px;
}

video {
    width: 100%;
    border-radius: 8px;
}

.background-two {}


.gradient-text h1 {
    color: transparent;
    background-image: linear-gradient(to right, blue, red, pink, indigo, purple, black, grey);
    background-clip: text;
    -webkit-background-clip: text;
}

@media (max-width:425px) {
    header {
        padding: 30px 20px;
    }

    nav {
        display: none;
    }

    .min-width {
        display: none;
    }

    .max-width {
        margin-top: 170px;
        color: #0D1523;
        background-color: #c2c4c6;
        font-weight: 800;
        font-size: 17px;
        border: none;
        height: 70px;
        cursor: pointer;
        position: fixed;
        left: 0;
        right: 0;
        text-align: center;
    }

    .background {
        width: 200vw;
        height: 165vh;
    }

    .background img {
        margin-top: 650px;
    }

    .section-two {
        width: 200vw;
    }

    .video-group {
        flex-direction: column;
    }

   


}


@media (min-width:768px) {
      .max-width {
        display: none;
      }
}